html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    display: block;
    width: 100%;
    
}

ul {
    display: inline-block;
    list-style-type: none;
    margin: 13px 0;
    padding: 0;
  }

li {
    float: left;
}

li a {
    padding-left: 17px;
    font-size: 14px;
    color: #000;
    opacity: 0.75;
    text-decoration: none;
    text-align: left;
    vertical-align: middle;
    line-height: 30px;
}

#cube {
    background-image:url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    background-position-x:-132px;
    background-position-y:-38px;
    background-size:528px 68px;
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    box-sizing:border-box;
    color:rgb(0, 0, 0);
    cursor:pointer;
    display:inline-block;
    font-size:13px;
    height:30px;
    line-height:normal;
    opacity:0.55;
    user-select:none;
    vertical-align:middle;
    white-space:nowrap;
    width:30px;
    margin-left: 15px;
}

#signin {
    border: 1px solid #4285f4;
    font-weight: 600;
    color: #fff;
    outline: none;
    background: #4285f4;
    border-radius: 3px;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    margin: 0 15px;
    padding: 0 10px;
    line-height: 26px;
    height: 30px;
    font-family: arial,sans-serif;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}


.right {
    float: right;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    margin: auto;
    padding-bottom: 5%;

}

#logo {
    display: block;
    margin: auto;
}

.searchbar  {
    margin: auto 0;
    border: none;
}

input[type="text"] {
    border: none;
    width: 484px;
}

#searchform {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 30px auto;
    width: 575px;
    align-content: center;
}

#hourglassholder {
    height: 25px;
    overflow: hidden;
    margin: auto 12px;
}

#hourglass {
    height: 44px;
}

#voicesearch {
    height: 25px;
    margin: auto 12px;
}

#searchtype{
    text-align: center;
}

button.search {
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

footer{
    display: block;
    width: 100%;
    background: #f2f2f2;
    height: 40px;
    padding-right: 0 15px;
}

footer li a {
    line-height: 20px;
}

#settings {
    padding-right: 15px;
}